@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
<div class="container">
    <div class="menu-items">
        <h1>Menu</h1>
        <h2>Combos</h2>
        <div class="combo-items">
            @foreach (DinoDiner.Menu.IMenuItem m in Model.FullMenu)
            {
                @if (m is DinoDiner.Menu.CretaceousCombo c)
                {
            <div class="menu-item">
                <div class="name">
                    <a>@m.ToString()</a>
                </div>
                <div class="small-price">
                    <a>@(String.Format("{0:C}", Convert.ToDouble(m.Price)))</a>
                </div>
                <div class="small-calories">
                    <a>@m.Calories</a>
                </div>

                <div class="ingredients">
                    <a>@Model.GetIngredients(m)</a>
                </div>
            </div>
                    <br />}
            }
        </div>
        <h2>Entrees</h2>
        <div class="entree-items">
            @foreach (DinoDiner.Menu.IMenuItem m in Model.FullMenu)
            {
                @if (m is DinoDiner.Menu.Entree e)
                {
                    <div class="menu-item">
                        <div class="name">
                            <a>@m.ToString()</a>
                        </div>
                        <div class="small-price">
                            <a>@(String.Format("{0:C}", Convert.ToDouble(m.Price)))</a>
                        </div>
                        <div class="small-calories">
                            <a>@m.Calories</a>
                        </div>
                        <div class="ingredients">
                            <a>@Model.GetIngredients(m)</a>
                        </div>
                    </div>
                    <br />
                }
            }


            </div>
        <h2>Sides</h2>
        <div class="side-items">
            @foreach (DinoDiner.Menu.IMenuItem m in Model.FullMenu)
            {
                @if (m is DinoDiner.Menu.Side c)
                {
                    <div class="menu-item">
                        <div class="name">
                            <a>@m.ToString()</a>
                        </div>
                        <div class="small-price">
                            <a>@(String.Format("{0:C}", Convert.ToDouble(m.Price)))</a>
                        </div>
                        <div class="small-calories">
                            <a>@m.Calories</a>
                        </div>

                        <div class="ingredients">
                            <a>@Model.GetIngredients(m)</a>
                        </div>
                    </div>
                    <br />
                    }
                }
            </div>
        <h2>Drinks</h2>
        <div class="drink-items">
            @foreach (DinoDiner.Menu.IMenuItem m in Model.FullMenu)
            {
                @if (m is DinoDiner.Menu.Drink c)
                {
                    <div class="menu-item">
                        <div class="name">
                            <a>@m.ToString()</a>
                        </div>
                        <div class="small-price">
                            <a>@(String.Format("{0:C}", Convert.ToDouble(m.Price)))</a>
                        </div>
                        <div class="small-calories">
                            <a>@m.Calories</a>
                        </div>
                        <div class="ingredients">
                            <a>@Model.GetIngredients(m)</a>
                        </div>
                    </div>
                    <br />
                    }
                }
            </div>
    </div>
    <div class="search-section">
        <div class="inner-form">
        <form id="search-form" method="post">
            <input type="text" name="search" id="search" value="@Model.search" />
            <input type="submit" value="Search and Filter" id="search-filter" />
            <label>
                Menu Category
            </label>
            <br />
            <label>
                <input type="checkbox" value="Combo" name="menuCategory" class="menu-category" checked="@Model.menuCategory.Contains("Combo")" />
                Combo
            </label>
            <br />
            <label>
                <input type="checkbox" value="Entree" name="menuCategory" class="menu-category" checked="@Model.menuCategory.Contains("Entree")" />
                Entree
            </label>
            <br />
            <label>
                <input type="checkbox" value="Side" name="menuCategory" class="menu-category" checked="@Model.menuCategory.Contains("Side")" />
                Side
            </label>
            <br />
            <label>
                <input type="checkbox" value="Drink" name="menuCategory" class="menu-category" checked="@Model.menuCategory.Contains("Drink")" />
                Drink
            </label>
            <br />
            <br />
            <label>
                Price
            </label>
            <br />
            <label>
                Min
                <input type="number" min="0" step=".25" name="minimumPrice" id="minimum-price" value="@Model.minimumPrice" />
            </label>
            <br />
            <label>
                Max
                <input type="number" min="0" step=".25" name="maximumPrice" id="maximum-price" value="@Model.maximumPrice" />
            </label>
            <br />
            <br />
            <label>
                Exclude Ingredients

            </label>
            <br />
            @foreach (string str in Model.menu.PossibleIngredients)
            {
                <label>
                    <input type="checkbox" value="@str" name="ingredientsCategory" , class="ingredients-category" checked="@Model.IngredientsCategory.Contains(str)" />
                    @str
                </label>
                <br />
            }

        </form>
            </div>
    </div>
</div>